.body{ background-color: #C0C0C0;}
.h1{background-color: #E0E0E0;}
p{  
    margin: 0px;
    padding: 5px;
}

.fourteen{ 

    background-color: #0088DD;
  }
  
  .therteen{ 

    background-color: #0095E2;
  }
  
  .twelve{ 

    background-color: #00A0E6;
  }
  
  .eleven{ 

    background-color: #30AAE9;
  }
  .ten{ 

    background-color:#54B6ED;
  }
  
  .nine{ 

    background-color: #72C1F0;
  }
  
  .eight{ 

    background-color: #8CCAF2;
  }
  
  .seven{ 

    background-color: #00BB88;
  }
  
  .six{ 

    background-color: #F5B0CC;
  }
  .five{ 

    background-color: #F69FC0;
  }
  .four{ 

    background-color:#F58CB2 ;
  }
  .three{ 

    background-color:#F47BA6;
  }
  .two{ 

    background-color:#F36A98 ;
  }
  .one{ 

    background-color:#F45A8B ;
  }
  .zero{ 

    background-color: #EE3E80;
  }
  